@model CastAjansCore.Entity.Firma

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Firma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl" class="control-label"></label>
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faks" class="control-label"></label>
                <input asp-for="Faks" class="form-control" />
                <span asp-validation-for="Faks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPosta" class="control-label"></label>
                <input asp-for="EPosta" class="form-control" />
                <span asp-validation-for="EPosta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaceBook" class="control-label"></label>
                <input asp-for="FaceBook" class="form-control" />
                <span asp-validation-for="FaceBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label"></label>
                <input asp-for="Linkedin" class="form-control" />
                <span asp-validation-for="Linkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EkleyenId" class="control-label"></label>
                <input asp-for="EkleyenId" class="form-control" />
                <span asp-validation-for="EkleyenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EklemeZamani" class="control-label"></label>
                <input asp-for="EklemeZamani" class="form-control" />
                <span asp-validation-for="EklemeZamani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuncelleyenId" class="control-label"></label>
                <input asp-for="GuncelleyenId" class="form-control" />
                <span asp-validation-for="GuncelleyenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuncellemeZamani" class="control-label"></label>
                <input asp-for="GuncellemeZamani" class="form-control" />
                <span asp-validation-for="GuncellemeZamani" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktif" /> @Html.DisplayNameFor(model => model.Aktif)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
