@model CastAjansCore.Entity.Banka

@{
    ViewData["Title"] = "Bankalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>

    <form asp-action="Edit">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />            
            <input type="hidden" asp-for="EkleyenId" />
            <input type="hidden" asp-for="EklemeZamani" />
            <input type="hidden" asp-for="GuncelleyenId" />
            <input type="hidden" asp-for="GuncellemeZamani" />
            <input type="hidden" asp-for="Aktif" />
            </td>
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-truck mr-2"></i> Bilgileri</legend>

                        <div class="form-group row">
                            <label asp-for="Adi" class="col-md-3 col-form-label"></label>
                            <span asp-validation-for="Adi" class="text-danger"></span>
                            <div class="col-md-9">
                                <input asp-for="Adi" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <a asp-action="Index" class="btn btn-danger left"><i class="mi-arrow-back"></i> Geri</a>
            <button type="submit" class="btn btn-primary right"><i class="mi-check"></i> Kaydet</button>


        </div>
    </form>
</div>
