@model CastAjansCore.Entity.Kisi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Kisi</h4>
<hr />
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="EkleyenId" />
<input type="hidden" asp-for="EklemeZamani" />
<input type="hidden" asp-for="GuncelleyenId" />
<input type="hidden" asp-for="GuncellemeZamani" />
<input type="hidden" asp-for="Aktif" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TC" class="control-label"></label>
                <input asp-for="TC" class="form-control" />
                <span asp-validation-for="TC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyet" class="control-label"></label>
                <select asp-for="Cinsiyet" class="form-control"></select>
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KanGrubu" class="control-label"></label>
                <select asp-for="KanGrubu" class="form-control"></select>
                <span asp-validation-for="KanGrubu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UyrukId" class="control-label"></label>
                <select asp-for="UyrukId" class="form-control" asp-items="ViewBag.UyrukId"></select>
                <span asp-validation-for="UyrukId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="AnneAdiSoyadi" class="col-lg-3 col-form-label"></label>
                <span asp-for="Oyuncu.AnneAdiSoyadi" class="text-danger"></span>
                <div class="col-lg-9">
                    <input asp-for="AnneAdiSoyadi" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BabaAdiSoyadi" class="col-lg-3 col-form-label"></label>
                <span asp-for="Oyuncu.BabaAdiSoyadi" class="text-danger"></span>
                <div class="col-lg-9">
                    <input asp-for="BabaAdiSoyadi" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EPosta" class="control-label"></label>
                <input asp-for="EPosta" class="form-control" />
                <span asp-validation-for="EPosta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSitesi" class="control-label"></label>
                <input asp-for="WebSitesi" class="form-control" />
                <span asp-validation-for="WebSitesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaceBook" class="control-label"></label>
                <input asp-for="FaceBook" class="form-control" />
                <span asp-validation-for="FaceBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label"></label>
                <input asp-for="Linkedin" class="form-control" />
                <span asp-validation-for="Linkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

