@model CastAjansCore.Entity.Musteri

@{
    ViewData["Title"] = "Müşteri Silme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>


    <div class="card-body">


        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend class="font-weight-semibold"><i class="icon-truck mr-2"></i> Silinecek Kayıt</legend>

                    <div class="form-group row">
                        <label asp-for="Adi" class="col-md-3 col-form-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Adi" readonly class="form-control" />

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <form asp-action="Delete">
            <a asp-action="Index" class="btn btn-outline-primary"><i class="icon-arrow-left52 mr-2"></i> Vazgeç</a>
            <button type="submit" value="Delete" class="btn btn-outline-danger"><i class="icon-trash ml-2"></i> Sil</button>

        </form>
    </div>

</div>
