@model string

@{
    ViewData["Title"] = "Yasak Giriş";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}

<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">
    <!-- Container -->
    <div class="flex-fill">
        <!-- Error title -->
        <div class="text-center mb-3">
            <h1 class="error-title">Hata</h1>
            <h2>@Model sayfasına erişim izniniz yoktur.</h2>
        </div>
        <!-- /error title -->
        <!-- Error content -->
        <div class="row">
            <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">
                <!-- Buttons -->
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/" class="btn btn-primary btn-block"><i class="icon-home4 mr-2"></i> Anasayfa</a>
                    </div>
                </div>
                <!-- /buttons -->
            </div>
        </div>
        <!-- /error wrapper -->
    </div>
    <!-- /container -->
</div>
<!-- /content area -->
