@model CastAjansCore.Dto.KullaniciEditDto

@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Edit">

    <input type="hidden" asp-for="Kullanici.Id" />
    <input type="hidden" asp-for="Kullanici.EkleyenId" />
    <input type="hidden" asp-for="Kullanici.EklemeZamani" />
    <input type="hidden" asp-for="Kullanici.GuncelleyenId" />
    <input type="hidden" asp-for="Kullanici.GuncellemeZamani" />
    <input type="hidden" asp-for="Kullanici.Aktif" />

    @{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Kullanici"; }
    @await Html.PartialAsync("_BaseEdit", Model.Kullanici)

    <div class="row">
        @await Html.PartialAsync("KisiEdit", Model.KisiEditDto)
        <div class="col-md-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"><i class="icon-truck mr-2"></i> Kullanıcı Bilgileri</h5>
                </div>


                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <fieldset>
                        <div class="form-group row">
                            <label asp-for="Kullanici.KullaniciAdi" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="Kullanici.KullaniciAdi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Kullanici.KullaniciAdi" class="form-control" />
                            </div>
                        </div>

                       
                        <div class="form-group row">
                            <label asp-for="Kullanici.Sifre" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="Kullanici.Sifre" class="text-danger"></span>
                            <div class="col-lg-9">
                                 <div class="badge-indicator-absolute">
                                    <input asp-for="Kullanici.Sifre" class="form-control" />
                                    <span class="badge password-indicator-badge-absolute"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-danger left">Geri</a>
            <button type="submit" class="btn btn-primary right">Kaydet <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
</form>

