@model CastAjansCore.Dto.LoginDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Life Casting Giriş</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Limitless_2_2/js/main/jquery.min.js"></script>
    <script src="/Limitless_2_2/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/loaders/blockui.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Limitless_2_2/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/Limitless_2_2/js/app.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/login.js"></script>
    <!-- /theme JS files -->
</head>
<body>
    <!-- Page content -->
    <div class="page-content login-cover">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
               

                <!-- Login form -->
                <form class="login-form wmin-sm-400" asp-action="Login">
                    <div class="card mb-0">
                        <div class="tab-content card-body">
                            <div class="tab-pane fade show active" id="login-tab1">
                                <div class="text-center mb-3">
                                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0">Giriş</h5>
                                    <span class="d-block text-muted">Hesap Bilgileri</span>
                                    @if (ViewBag.Hatalar != null)
                                    {
                                        foreach (var item in ViewBag.Hatalar as List<string>)
                                        {
                                            <div class="alert bg-danger text-white alert-styled-left alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                                                <span class="font-weight-semibold">Hata Oluştu.</span> @item
                                            </div>
                                        }
                                    }

                                    @if (ViewBag.Mesajlar != null)
                                    {
                                        foreach (var item in ViewBag.Mesajlar as List<string>)
                                        {
                                            <div class="alert bg-primary text-white alert-styled-left alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                                                <span class="font-weight-semibold">Mesaj!</span> @item
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input asp-for="KullaniciAdi" placeholder="Kullanıcı Adı" class="form-control" />
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input asp-for="Sifre" type="password" class="form-control" placeholder="Şifre" />
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <div class="form-check mb-0">
                                        <label class="form-check-label">
                                            <input asp-for="BeniHatirla" class="form-input-styled" checked data-fouc>
                                            Beni Hatırla
                                        </label>
                                    </div>
                                    <a asp-controller="Kullanicilar" asp-action="SifremiUnuttum" class="ml-auto">Şifremi unuttum?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Giriş</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <!-- /login form -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>
</html>


