@using Calbay.Core.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Life Ajans - @ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/icons/material/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Limitless_2_2/js/main/jquery.min.js"></script>
    <script src="/Limitless_2_2/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/loaders/blockui.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Limitless_2_2/js/plugins/notifications/bootbox.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/Limitless_2_2/js/app.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/components_modals.js"></script>
    <script src="/Limitless_2_2/js/plugins/forms/inputs/inputmask.js"></script>

    <script src="/Limitless_2_2/js/plugins/sliders/nouislider.min.js"></script>

    <script src="/Js/core.js"></script>

</head>
<body>
   
    <!-- Page content -->
    <div class="page-content">
       
      
        <!-- Main content -->
        <div class="content-wrapper">           
            <!-- Content area -->
            <div class="content">
                @if (ViewBag.Hatalar != null)
                {
                    foreach (var item in ViewBag.Hatalar as List<string>)
                    {
                        <div class="alert bg-danger text-white alert-styled-left alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                            <span class="font-weight-semibold">Hata Oluştu.</span> @item
                        </div>
                    }
                }

                @if (ViewBag.Mesajlar != null)
                {
                    foreach (var item in ViewBag.Mesajlar as List<string>)
                    {
                        <div class="alert bg-primary text-white alert-styled-left alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                            <span class="font-weight-semibold">Mesaj!</span> @item
                        </div>
                    }
                }


                @RenderBody()
                <!-- /form layouts -->
            </div>
            <!-- /content area -->
            @*<partial name="footer" />*@
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>


@RenderSection("scripts", false)

</html>

