@model CastAjansCore.Dto.KisiEditDto
@using  CastAjansCore.Entity

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "KisiEditDto"; }
<input type="hidden" asp-for="Kisi.Id" />
<input type="hidden" asp-for="Kisi.ProfilFotoUrl" />
<input type="hidden" asp-for="Kisi.EkleyenId" />
<input type="hidden" asp-for="Kisi.EklemeZamani" />
<input type="hidden" asp-for="Kisi.GuncelleyenId" />
<input type="hidden" asp-for="Kisi.GuncellemeZamani" />
<input type="hidden" asp-for="Kisi.Aktif" />

<div class="col-md-6">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"><i class="icon-reading mr-2"></i> Kisi Bilgileri</h5>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="card">
                                <div class="card-img-actions m-1">
                                    <img class="card-img img-fluid" src="@Model.Kisi.ProfilFotoUrl" alt="" style="width:100%;">
                                    <div class="card-img-actions-overlay card-img">
                                        @*<img src=@Model.Oyuncu.OyuncuResimleri[i].DosyaYolu alt="Lights" style="width:100%">*@
                                        <a href="@Model.Kisi.ProfilFotoUrl" id="campic" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                            <i class="mi-zoom-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label asp-for="Kisi.TC" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.TC" class="form-control" />
                                    <span asp-validation-for="Kisi.TC" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.Adi" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.Adi" class="form-control" />
                                    <span asp-validation-for="Kisi.Adi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.Soyadi" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.Soyadi" class="form-control" />
                                    <span asp-validation-for="Kisi.Soyadi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.ProfilFotoUrl" class="col-md-3 col-form-label"></label>
                            <span asp-for="Kisi.ProfilFotoUrl" class="text-danger"></span>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="Kisi.ProfilFotoUrl" />

                                <input asp-for="ProfilFotoFile" type="file" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.BankaId" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <select asp-for="Kisi.BankaId" asp-items="Model.Bankalar" class="form-control"></select>
                                    <span asp-validation-for="Kisi.BankaId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label asp-for="Kisi.SubeKodu" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.SubeKodu" class="form-control" />
                                    <span asp-validation-for="Kisi.SubeKodu" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.HesapNumarasi" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.HesapNumarasi" class="form-control" />
                                    <span asp-validation-for="Kisi.HesapNumarasi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Kisi.Iban" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Kisi.Iban" class="form-control" />
                                    <span asp-validation-for="Kisi.Iban" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
