@model CastAjansCore.Dto.OyuncuFilterDto
@using CastAjansCore.Entity

<div class="card card-collapsed">

    <div class="card-header bg-transparent header-elements-inline">
        <span class="card-title font-weight-semibold">Filtre</span>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" asp-action="Edit"><i class="icon-plus3"></i></a>
                &nbsp;
                &nbsp;
                <a id="btnSearch" href="javascript:GetOyuncuGrid();" data-action="collapse" class="list-icons-item">
                    <i class="icon-search4"></i>
                </a>
                &nbsp;&nbsp;
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    @*<div class="card-header header-elements-inline">
                            <h5 class="card-title"><i class="icon-reading mr-2"></i> Kisi Bilgileri</h5>
                        </div>*@
                    <div class="card-body">
                        <fieldset class="row">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">TC</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <input id="Filter-Oyuncu-TC" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Ad Soyad</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <div class="col">
                                            <input id="Filter-Oyuncu-Adi" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <input id="Filter-Oyuncu-Soyadi" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Yaş</label>
                                        <div class="col-md-9">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-YasMin" placeholder="Min" type="number" min="0" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-YasMaks" placeholder="Maks" type="number" max="200" class="form-control" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Kaşe</label>
                                        <div class="col-md-9">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-KaseMin" placeholder="Min" type="number" min="0" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-KaseMaks" placeholder="Maks" type="number" max="1000000000" class="form-control" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Cinsiyet / Uyruk</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <div class="col">
                                            <select id="Filter-Oyuncu-Cinsiyet" asp-items="Html.GetEnumSelectList<EnuCinsiyet>()" class="form-control"></select>
                                        </div>
                                        <div class="col">
                                            <select id="Filter-Oyuncu-Uyruk" asp-items="Model.Uyruklar" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Cast Tipi</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <select id="Filter-Oyuncu-CastTipi" multiple="multiple" asp-items="Html.GetEnumSelectList<EnuCastTipi>()" class="form-control">
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">İl / İlçe</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <div class="col">
                                            <select id="Filter-Oyuncu-Il" asp-items="Model.Iller" class="form-control" onchange="GetIlceler($('#Filter-Oyuncu-Il'),$('#Filter-Oyuncu-Ilce'))"></select>
                                        </div>
                                        <div class="col">
                                            <select id="Filter-Oyuncu-Ilce" class="form-control">
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Genel</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <input id="Filter-Oyuncu-Genel" class="form-control" />
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    @*<div class="card-header header-elements-inline">
                            <h5 class="card-title"><i class="icon-reading mr-2"></i> Fiziki Bilgiler</h5>
                        </div>*@
                    <div class="card-body">
                        <fieldset>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Boy</label>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-BoyMin" placeholder="Min" type="number" min="30" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-BoyMaks" placeholder="Maks" type="number" max="300" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Kilo</label>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-KiloMin" placeholder="Min" type="number" min="1" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-KiloMaks" placeholder="Maks" type="number" max="500" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Alt Beden</label>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-AltBedenMin" placeholder="Min" type="number" min="1" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-AltBedenMaks" placeholder="Maks" type="number" max="200" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Üst Beden</label>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-UstBedenMin" placeholder="Min" type="number" min="1" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-UstBedenMaks" placeholder="Maks" type="number" max="200" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Ayak No</label>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-AyakNumarasiMin" placeholder="Min" type="number" min="1" class="form-control" />
                                                </div>
                                                <div class="col">
                                                    <input id="Filter-Oyuncu-AyakNumarasiMaks" placeholder="Maks" type="number" max="80" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Göz Rengi</label>
                                        <span asp-for="Oyuncu.GozRengi" class="text-danger"></span>
                                        <div class="col-md-8">
                                            <select id="Filter-Oyuncu-GozRengi" asp-items="Html.GetEnumSelectList<EnuGozRengi>()" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Ten Rengi</label>
                                        <span asp-for="Oyuncu.TenRengi" class="text-danger"></span>
                                        <div class="col-md-8">
                                            <select id="Filter-Oyuncu-TenRengi" asp-items="Html.GetEnumSelectList<EnuTenRengi>()" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Saç Rengi</label>
                                        <div class="col-md-8">
                                            <select id="Filter-Oyuncu-SacRengi" asp-items="Html.GetEnumSelectList<EnuSacRengi>()" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Saç Tipi</label>
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <select id="Filter-Oyuncu-SacTipi" asp-items="Html.GetEnumSelectList<EnuSacTipi>()" class="form-control">
                                            <option selected="selected" value="0">Hepsi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Ehliyet</label>
                                    <div class="col-md-9">
                                        <div class="form-row">
                                            <input id="Filter-Oyuncu-Ehliyet" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <table id="OyuncuGrid" class="table datatable-basic table-hover dataTable no-footer" style="width:100%"></table>
    </div>
</div>
