@model CastAjansCore.Dto.KisiEditDto
@using  CastAjansCore.Entity

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "KisiEditDto"; }
<input type="hidden" asp-for="Kisi.Id" />
<input type="hidden" asp-for="Kisi.ProfilFotoUrl" />
<input type="hidden" asp-for="Kisi.EkleyenId" />
<input type="hidden" asp-for="Kisi.EklemeZamani" />
<input type="hidden" asp-for="Kisi.GuncelleyenId" />
<input type="hidden" asp-for="Kisi.GuncellemeZamani" />
<input type="hidden" asp-for="Kisi.Aktif" />

<div class="col-md-6">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"><i class="icon-reading mr-2"></i> Kisi Bilgileri</h5>
        </div>
        <div class="card-body">
            <fieldset>
                <div class="form-group row">
                    <label asp-for="Kisi.TC" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input asp-for="Kisi.TC" class="form-control" />
                            <span asp-validation-for="Kisi.TC" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Kisi.Adi" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input asp-for="Kisi.Adi" class="form-control" />
                            <span asp-validation-for="Kisi.Adi" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Kisi.Soyadi" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input asp-for="Kisi.Soyadi" class="form-control" />
                            <span asp-validation-for="Kisi.Soyadi" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Kisi.BankaId" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <select asp-for="Kisi.BankaId" asp-items="Model.Bankalar" class="form-control"></select>
                            <span asp-validation-for="Kisi.BankaId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Kisi.Iban" class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input asp-for="Kisi.Iban" data-mask="TR99 9999 9999 9999 9999 9999 99" class="form-control" />
                            <span asp-validation-for="Kisi.Iban" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
 