@model CastAjansCore.Entity.Oyuncu

@{
    ViewData["Title"] = "Banka Silme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>


    <div class="card-body">


        <div class="row">


            <div class="col-md-6">
                <fieldset>
                    <legend class="font-weight-semibold"><i class="icon-truck mr-2"></i> Silinecek Kayıt</legend>

                    <div class="form-group row">
                        <label asp-for="Kisi.TC" class="col-md-3 col-form-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Kisi.TC" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Kisi.Adi" class="col-md-3 col-form-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Kisi.Adi" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Kisi.Soyadi" class="col-md-3 col-form-label"></label>

                        <div class="col-md-9">
                            <input asp-for="Kisi.Soyadi" readonly class="form-control" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-img-actions m-1">
                        <img class="card-img img-fluid" src="@Model.Kisi.ProfilFotoUrl" alt="">
                        <div class="card-img-actions-overlay card-img">
                            <a href="@Model.Kisi.ProfilFotoUrl" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                <i class="icon-plus3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Delete">
            <a asp-action="Index" class="btn btn-outline-primary"><i class="icon-arrow-left52 mr-2"></i> Vazgeç</a>
            <button type="submit" value="Delete" class="btn btn-outline-danger"><i class="icon-trash ml-2"></i> Sil</button>

        </form>
    </div>

</div>
