@model CastAjansCore.Dto.OyuncuEditDto
@using  CastAjansCore.Entity

@{
    ViewData["Title"] = "Oyuncu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Edit">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @await Html.PartialAsync("KisiEdit", Model.KisiEditDto)


        <input type="hidden" asp-for="Oyuncu.Id" />
        <input type="hidden" asp-for="Oyuncu.EkleyenId" />
        <input type="hidden" asp-for="Oyuncu.EklemeZamani" />
        <input type="hidden" asp-for="Oyuncu.GuncelleyenId" />
        <input type="hidden" asp-for="Oyuncu.GuncellemeZamani" />
        <input type="hidden" asp-for="Oyuncu.Aktif" />
        <div class="col-md-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"><i class="icon-truck mr-2"></i> Özellikleri</h5>
                </div>
                <div class="card-body">
                    <fieldset>

                        <div class="form-group row">
                            <label asp-for="Oyuncu.Boy" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Boy" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.Boy" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.Kilo" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Kilo" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.Kilo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.AltBeden" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.AltBeden" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.AltBeden" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.UstBeden" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.UstBeden" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.UstBeden" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.AyakNumarasi" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.AyakNumarasi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.AyakNumarasi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.GozRengi" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.GozRengi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Oyuncu.GozRengi" asp-items="Html.GetEnumSelectList<EnuGozRengi>()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.TenRengi" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.TenRengi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Oyuncu.TenRengi" asp-items="Html.GetEnumSelectList<EnuTenRengi>()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.SacRengi" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.SacRengi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Oyuncu.SacRengi" asp-items="Html.GetEnumSelectList<EnuSacRengi>()" class="form-control"></select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"><i class="icon-truck mr-2"></i> Oyuncu Açıklamaları</h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.Kase" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Kase" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Oyuncu.Kase" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.EngelDurumu" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.EngelDurumu" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="Oyuncu.EngelDurumu" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.OyuculukEgitimi" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.OyuculukEgitimi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="Oyuncu.OyuculukEgitimi" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.Tecrubeler" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Tecrubeler" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="Oyuncu.Tecrubeler" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.Yetenekleri" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Yetenekleri" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="Oyuncu.Yetenekleri" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Oyuncu.Aciklama" class="col-lg-3 col-form-label"></label>
                            <span asp-for="Oyuncu.Aciklama" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="Oyuncu.Aciklama" class="form-control"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-danger left">Geri</a>
            <button type="submit" class="btn btn-primary right">Kaydet <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
</form>


